@import '../../../../scss/utils';

.spinner {
    position: relative;
    z-index: 99999;

    .spinner-box {
        position: relative;
        width: get-fs('xxlarge-l');
        height: get-fs('xxlarge-l');
        margin: 0 auto;
    }

    .spinner-icon {
        position: relative;
        z-index: 2;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .spinner-bg {
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        display: block;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border-radius: 50%;
        background-color: $white;
    }
}