<app-card [title]="'Resetowanie hasła'" class="card-box mxw-400">
  <ng-container *ngIf="!submitted">
    <form (ngSubmit)="submit()">
      <div class="form-group">
        <label for="email">Podaj email</label>
        <input type="email" class="form-control" [class.is-invalid]="fieldHasError('email')" id="email"
            name="email" placeholder="Adres email" [(ngModel)]="email" required="required" />
        <div *ngIf="fieldHasError('email')" class="invalid-feedback">
          {{ getFieldError('email') }}
        </div>
      </div>
      <div>
        <input type="submit" value="Resetuj hasło" class="btn btn-primary btn-sm" />
      </div>
    </form>
    <div class="pt-3 fs-medium-s">
      <a [routerLink]="['/', 'login']">Zaloguj się.</a>
    </div>
  </ng-container>
  <div *ngIf="submitted">
    Na wskazany adres email został wysłany link do resetowania hasła.
  </div>
</app-card>
