@import '../../../scss/utils';

.submit-box {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $orange-2;
}
.question-label {
    width: 100%;
}
.custom-select {
    width: 100%;
}
.single-select {
    width: 100%;
}
@media (min-width: #{map-get($grid-breakpoints, sm)}) {
    .custom-select:not(.single-select) {
        width: calc(50% - .5rem);
    }
}
@media (min-width: #{map-get($grid-breakpoints, md)}) {
    .question-label {
        width: 270px;
    }
    .custom-select,
    .custom-select:not(.single-select) {
        width: 170px;
    }
}