@import '../utils';

.btn {
  cursor: pointer;
  user-select: auto; // chrome fix
  font-weight: 400;

  &.btn-clear {
    margin: 0;
    padding: 0;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    background-color: $trans;
  }
}
