<router-outlet name='top'></router-outlet>

<div *ngIf="quickMessages" class="quick-messages">
  <ngb-alert *ngFor="let message of quickMessages" [type]="message.type" (close)="closeMessage(message)">
    {{ message.title }}
    <div *ngIf="message.desc">{{ message.desc }}</div>
  </ngb-alert>
</div>

<div class="container main-message mb-4" *ngIf="messagesService.displayMainMessage">
  <ngb-alert [type]="'info'" [dismissible]="false">
    <div (click)="toggleMainMessage()" class="c-pointer d-flex">
      <strong>Wyniki typera</strong>
      <span class="fa fa-caret-down ml-auto"
          [class.fa-caret-down]="messagesService.mainMessageTemporarilyCollapsed"
          [class.fa-caret-up]="!messagesService.mainMessageTemporarilyCollapsed"><!-- // --></span>
    </div>
    <div [ngbCollapse]="messagesService.false">
      <br />
      EURO 2020 dobiegło końca. Można powiedzieć, że walka o pozycję w rakingu była wyrównana i zacięta.
      Zadanie w tym roku było o tyle trudne, że na tych Mistrzostwach często padały niespodziewane rezultaty.
      <br /><br />
      Laureaci zostali wyłonieni w 3 kategoriach:
      <ul>
        <li>typowanie wyników meczów,</li>
        <li>odpowiedzi na pytania dodatkowe,</li>
        <li><strong>mistrz Typera 2020</strong> (wyniki meczów + pytania dodatkowe).</li>
      </ul>
      Poniżej wypisani są laureaci każdej z kategorii. Ale w już w tym momencie można napisać,
      że <strong class="text-secondary">zwycięzcą Typera 2020 został Mateusz</strong>, który typował trafnie wyniki meczów,
      jak również potrafił przewidzieć przebieg Mistrzostw odpowiadając poprawnie na pytania dodatkowe.
      <br /><br />
      <strong><u>Laureaci Typera 2020:</u></strong><br />
      <strong>1. Mateusz - 220 pkt.</strong><br />
      2. iwan - 207 pkt.<br />
      3. maka - 194 pkt.
      <br /><br />
      <strong><u>Laureaci typowania wyników meczów:</u></strong><br />
      <strong>1. maka - 167 pkt.</strong><br />
      2. Mateusz - 165 pkt.<br />
      3. michal - 159 pkt.
      <br /><br />
      <strong><u>Laureaci odpowiadania na pytania dodatkowe:</u></strong><br />
      <strong>1. Mateusz - 55 pkt.</strong><br />
      2. domo - 54 pkt.<br />
      3. iwan - 53 pkt.
      <br /><br />
      Gratuluję zwycięzcom, a im oraz pozostałym dziękuję za wspólną zabawę i zapraszam do następnej edycji Typera
      - już w przyszłym roku na Mistrzostwach Świata w Katarze.<br />
      <i>Wojtek</i>
    </div>
  </ngb-alert>
</div>

<div class="container pb-3">
  <ngb-alert *ngFor="let message of messages" [type]="message.type" (close)="closeMessage(message)">
    {{ message.title }}
    <div *ngIf="message.desc">{{ message.desc }}</div>
  </ngb-alert>
  <router-outlet></router-outlet>
</div>
