@import '../../../../scss/utils';

.navbar-fix {
    height: 70px;
}

.navbar-brand {
    padding: 0;
    font-family: 'Bridge';
    line-height: 1.2rem;
    text-align: center;
}

.brand-main {
    display: block;
    padding-bottom: 1px;
    font-size: get-fs('xlarge');
}
