<app-card [title]="'Mecze'" [cssClass]="'body-no-padding'">
  <div class="tabs-indent" *ngIf="loaded">
    <ngb-tabset #tabs="ngbTabset">
      <ngb-tab *ngFor="let mr of matchRounds" [disabled]="!mr.matches && !mr.groups" id="round-{{ mr.id }}">
        <ng-template ngbTabTitle>{{ mr.name }}</ng-template>
        <ng-template ngbTabContent>
          <div class="match-container">
            <ng-container *ngIf="mr.groups">
              <ng-container *ngFor="let mg of mr.groups">
                <div class="bg-blue color-white text-center p-1 mb-1" id="group-{{ mg.id }}">
                  {{ mg.name }}
                </div>
                <app-group-table [groupDetails]="getGroupDetails(mg)"></app-group-table>
                <div class="mb-2"></div>
                <ng-container *ngTemplateOutlet="matchesTpl;context:getContext(mg.matches)"></ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="mr.matches">
              <ng-container *ngTemplateOutlet="matchesTpl;context:getContext(mr.matches)"></ng-container>
            </ng-container>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</app-card>

<ng-template #matchesTpl let-matches="matches">
  <div class="match-list py-1 mb-1">
      <div *ngFor="let match of matches" class="match-box d-flex align-items-center pb-1 mb-2 flex-wrap flex-md-no-wrap pb-2 pb-md-0">
        <div class="fs-medium-s match-info d-flex d-md-block justify-content-between mb-2 mb-sm-0">
          <div class="d-flex d-md-block flex-column flex-sm-row justify-content-between flex-fill">
            <div>{{ match.datetime | date:'dd-MM-yyyy HH:mm' }}</div>
            <div *ngIf="match.getPlace()">{{ match.getPlace() }}</div>
          </div>
          <button *ngIf="!match.predictionEnabled" type="button" (click)="goToAllMatchPredictions(match)"
              placement="top" ngbTooltip="Zobacz typy innych użytkowników" class="btn btn-clear mr-1 d-sm-none">
            <span class="fa fa-dice text-secondary"><!-- // --></span>
          </button>
        </div>
        <div class="ml-md-3 mr-md-3 d-flex align-items-center match-teams">
          <app-team [team]="match.teamHome"></app-team>
          <div class="flex-grow-0 mx-2 font-weight-bold">-</div>
          <app-team [team]="match.teamAway"></app-team>
        </div>
        <div class="ml-auto d-flex align-items-center flex-nowrap">
          <div *ngIf="match.score" class="mr-1 mr-sm-5 ml-sm-0 ml-2 font-weight-bold">{{ match.score.regular }}</div>
          <button *ngIf="!match.predictionEnabled" type="button" (click)="goToAllMatchPredictions(match)"
              placement="top" ngbTooltip="Zobacz typy innych użytkowników" class="btn btn-clear mr-3 d-none d-sm-block">
            <span class="fa fa-dice text-secondary"><!-- // --></span>
          </button>
        </div>
      </div>
    </div>
</ng-template>
