@import './utils';

@include load-font-face('Lato', ('regular', 'italic', 'bold', 'bolditalic', 'medium', 'mediumitalic'));
html {
  min-width: 360px;
  font-size: $fs-base;
}
html, body {
  color: $primary;
  background: linear-gradient(
    90deg, $blue-1 0%, 
    rgba($primary, .75) 100%
  );
}

.container-fluid {
  padding-left: $container-padding;
  padding-right: $container-padding;
}

@font-face {
  font-family: 'Bridge';
  src: url('./fonts/bridge/bridge-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
