<app-card [title]="'Zmiana hasła'">
  <ng-container *ngIf="loaded">
    <div *ngIf="error" class="alert alert-danger">
      {{ error }}
    </div>
    <form class="row" (ngSubmit)="submit()">
      <div class="col-md-6 col-12">
        <div class="form-group row">
          <label class="col-4 col-form-label" for="password">Nowe hasło</label>
          <div class="col">
            <input type="password" class="form-control" [class.is-invalid]="fieldHasError('password1')" id="password"
                name="password" required="required" [(ngModel)]="user.password" />
            <div *ngIf="fieldHasError('password1')" class="invalid-feedback">
              {{ getFieldError('password1') }}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label" for="password2">Powtórz hasło</label>
          <div class="col">
            <input type="password" class="form-control" [class.is-invalid]="fieldHasError('password2')" id="password2"
                name="password2" required="required" [(ngModel)]="user.password2" />
            <div *ngIf="fieldHasError('password2')" class="invalid-feedback">
              {{ getFieldError('password2') }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <input type="submit" value="Zapisz" class="btn btn-primary btn-sm" />
        <a [routerLink]="['/', 'settings']" class="btn btn-sm btn-secondary ml-2">Wróć</a>
      </div>
    </form>
  </ng-container>
</app-card>
