@import '../../../../scss/variables';

.navbar-nav .nav-item.level-0 > .nav-link {
  opacity: .5;

  &:hover,
  &:focus {
    opacity: 1;
    background-color: $trans;
  }
  &:active,
  &.active {
    opacity: 1;
    background-color: $trans;
  }
}

.level-1 > .nav-link,
.level-2 > .nav-link {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.dropdown-menu.position-static {
  position: static;
  opacity: .75;
  margin: 0;
  padding: 0;
  font-size: .9em;
}

.alternative.navbar-nav .nav-item.level-0 {
  .nav-link {
    opacity: 1;
    color: $blue-1;

    &:hover,
    &:focus {
      color: $red-1;
    }
  }
}

.menu-item-icon {
  margin-top: -.15rem
}