<app-card [title]="'Ranking'">
  <div *ngIf="loaded && rank" class="rank">
    <div class="rank-row p-2 d-flex align-items-center">
      <div class="rank-no text-center">#</div>
      <div>Użytkownik</div>
      <div class="rank-points ml-auto text-center">Punkty</div>
    </div>
    <div *ngFor="let up of rank; let i=index" class="rank-row p-2 d-flex align-items-center"
        [class.rank-my-user]="up.user.id === user.id">
      <div class="rank-no text-center">{{ up.position }}</div>
      <div class="flex-fill"><app-user [userObj]="up.user" [avatarSize]="'small'" [linkInheritColor]="true"></app-user></div>
      <div *ngIf="false" class="rank-points ml-auto text-center">{{ up.nExtraQuestions }}<span class="text-danger">*</span></div>
      <div class="rank-points ml-auto text-center">{{ up.points }}</div>
    </div>
  </div>
  <div *ngIf="false" class="fs-medium-s pt-4"><span class="text-danger">*</span> Punkty za pytania dodatkowe.</div>
</app-card>
