<app-card [title]="'Resetowanie hasła'" class="card-box mxw-400">
  <form class="row" (ngSubmit)="submit()">
    <div class="col-12">
      <div class="form-group row">
        <label class="col-12 col-form-label" for="password">Podaj nowe hasło</label>
        <div class="col-12">
          <input type="password" class="form-control w-100" [class.is-invalid]="fieldHasError('password1')" id="password"
              name="password" required="required" [(ngModel)]="password" required="required" />
          <div *ngIf="fieldHasError('password1')" class="invalid-feedback">
            {{ getFieldError('password1') }}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-12 col-form-label" for="password2">Powtórz hasło</label>
        <div class="col-12">
          <input type="password" class="form-control w-100" [class.is-invalid]="fieldHasError('password2')" id="password2"
              name="password2" required="required" [(ngModel)]="password2" required="required" />
          <div *ngIf="fieldHasError('password2')" class="invalid-feedback">
            {{ getFieldError('password2') }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <input type="submit" value="Resetuj" class="btn btn-primary btn-sm" />
    </div>
  </form>
</app-card>
  